*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

body{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(180deg, #3a5557, #101818);
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(54, 3, 3), rgb(0, 102, 255));
    clip-path: circle(22% at 30% 20%);
    
  }
  
  body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(177, 147, 147), rgb(57, 5, 48));
    clip-path: circle(20% at 70% 90%);
  }
.container{
    width: 60%;
    height: 70%;
    text-align: center;
    background: inherit;
    border-radius: 15px;
    border: 1px solid rgba(43, 43, 43, 0.568);
    position: absolute;
    box-shadow: 10px 10px 5px rgb(26, 30, 31);
    overflow: hidden;
    padding: 2% 0 2%;
    z-index: 1;
}




#screen{
    width: 90%;
    height: 4rem;
    background-color: #8fb9b9;
    border-radius: 15px;
    border: 1px solid rgba(43, 43, 43, 0.568);
    font-size: 3rem;
    outline: none;
    color: #051213;
    text-align: right;
    margin-bottom: 3%;
    
    
}

.btns{
    display:flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn1{
    
    

}

button{
    text-align: center;
    padding: 1%;
    font-size: 1.5rem;
    width: 10%;
    height: 10%;
    margin: 0.5%;
    cursor: pointer;
    background-color: #497174;
    color: whitesmoke;
    outline: none;
    border: 0;
    border-radius: 10%;
    
}

button:hover{
    background-color: #063c40;
}
.reset{
    
    color: whitesmoke;
    background-color: #EB6440;
    
    
    
}

.reset:hover {
    background-color: #f44d1f;
}

.row {
    width: 100%;
}